html, body {
	width:100%;
	height:100%;	
}
body {	
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	color:#6c5e4e;
	font-size:12px;
	width:100%;
	line-height:18px;
	background:url(../images/body-bg.jpg) 0 0 repeat;
	position:relative;
}
#wrapper{
	position:absolute;
	width:100%;
	bottom:0;
	top:0;
	border-color:#3c352d;
	border-top:1px solid;
	border-bottom:1px solid;
}
p{
	padding-bottom:18px;
}
img {border:0;}
form {
	padding:0;
	margin:0;
}
a {
	outline:none;
	color:#000;
	font-size:12px;
	text-decoration:none;
}
a:hover { 
	text-decoration:none;
}

h2{
	color:#311e09;
	font-family:'Quicksand';
	font-weight:normal;
	font-size:30px;
	line-height:1.2em;
	margin-bottom:18px;
}

h4{
	color:#2e2821;
	font-size:14px;
	line-height:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin-bottom:8px;
}

#logo{
	float:left;
}
.donate, .btn_send, input[type="reset"]{
	float:right;
	font-family:'Quicksand';
	font-size:21px;
	line-height:1.2em;
	font-weight:400;
	color:#000;
	padding:;
	text-decoration:none;
	text-align:center;
	width:235px;
	background:#ff5400;
	border:#ff9f6f 1px solid;
	padding:12px 0 13px 0;
	text-shadow:1px 1px 1px rgba(255, 167, 89, 0.75);
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.4);
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.donate:hover, .btn_send:hover, input[type="reset"]:hover{
	background:#4f4a43;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.75);
	border:#201b17 1px solid;
}

.aligncenter{
	text-align:center;
}
.fright{
	float:right;
}
.fleft{
	float:left;
}

header{
	height:85px;
	padding-top:40px;
}
#container{
	position:absolute;
	width:100%;
}
section#content{
	border-top:#3c352d 1px solid;
	border-bottom:#3c352d 1px solid;
	padding:1px 0;
}

section#content .inner{
	background:url(../images/container_bg.jpg) 0 0 repeat;
	height:675px;
	overflow:hidden;
	width:100%;
}

/*MainMenu*/
nav#menu{position:relative;margin:20px 0 28px -10px;}
.mainmenu { margin:0; padding:0; position:relative; z-index:10;}
.mainmenu li { float:left; padding:0;  position:relative;}

.mainmenu>li{
	margin:10px 0 0 10px;
}
.mainmenu li a { 
	display:block;
	width:81px;
	text-align:center;
	line-height:1.2em;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-shadow:1px 1px 1px #100e0c;
	color:#dccfc1;
	padding:10px 0;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	text-align:center;
	background-image:url(../images/nav-a.png);
	background-position:0 0;
	background-repeat:no-repeat;
	
	transition: background-position 0.2s ease-in-out;
	-moz-transition: background-position 0.2s ease-in-out;
	-webkit-transition: background-position 0.2s ease-in-out;
	-o-transition: background-position 0.2s ease-in-out;
	
	
}
.mainmenu li.act a, .mainmenu li a:hover{ background-position:right 0;color:#2c2721;text-shadow:1px 1px 1px #ff7e3f;}
/*Submenu*/
.level1 { left:-1px; top:44px;z-index:999;}
.level2 { left:200px; top:0px;}
.level2r { left:-200px; top:0px;}
.mainmenu li ul.sub_menu { margin:0; padding:0; position:absolute; overflow:visible; display:none}
.mainmenu li ul.sub_menu li { float:none;position:relative;}
.mainmenu li ul.sub_menu li a {
	display:block;
	padding:10px 0;
	line-height:1.2em;
	font-size:14px;
	color:#938d87;
	text-shadow:1px 1px 1px #11100e;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:none;
	text-align:center;
	width:108px;
	height:13px;
	background-image:url(../images/nav-sub-a.png);
	background-position:0 0;
	background-repeat:no-repeat;
	
	transition: background-position 0.2s ease-in-out;
	-moz-transition: background-position 0.2s ease-in-out;
	-webkit-transition: background-position 0.2s ease-in-out;
	-o-transition: background-position 0.2s ease-in-out;
}
.mainmenu li ul.sub_menu li:hover>a, .mainmenu li ul.sub_menu li.act>a{color:#2c2721;background-position:0 bottom;text-shadow:1px 1px 1px #ff7e3f;}

.ajaxed_content{
	
}

.wrap{
	border:#231e1a 1px solid;
	background:#dccfc1;
	height:535px;
	margin:30px auto 0 auto;
	position:relative;
}
.indent{
	padding:25px 23px 25px 23px;
}

.indent1{
	padding:25px 7px 25px 23px;
}
.pos-rel{
	position:relative;
}
.divider{
	background:url(../images/divider-bg.gif) 0 0 repeat-y;
	width:2px;
	position:absolute;
	top:0;
	bottom:0;
	left:33%;
}

.divider.pos1{
	left:66%;
}
.divider.pos1{
	left:66%;
}
.divider.pos2{
	left:49%;
}
.indent .divider{
	left:32.8%;
}
.indent .divider.pos1{
	left:67.2%;
}
.indent .divider.pos2{
	left:49.9%;
}


.spacer{
	height:2px;
	background:url(../images/spacer.gif) 0 0 repeat-x;
	margin:25px 0;
}


.scroll{height:370px;overflow:auto;}
.scroll1{
	height:430px;
}

.img-container{
	border-color:#e5d9cd;
	border-width:3px;
	border-style:solid;
	margin-bottom:20px;
	
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.img-container:hover{
	border-color:#ff5400;
}
.img-container img{
	width:100%;
	height:auto;
}
.img-container img iframe{
	max-width:100%;
	height:auto;
}
.img-indent{
	float:left;
	margin:0px 10px 3px 0;
}


.more-link{
	display:inline-block;
	color:#ff5400;
	text-decoration:none;
	font-size:12px;
	line-height:1.2em;
	padding-right:10px;
	background:url(../images/read-more-marker.gif) right 6px no-repeat;
	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.more-link:hover{
	padding-right:15px;
}
.top5{
	padding-top:5px;
}

.top10{
	padding-top:10px;
}
.top25{
	padding-top:25px;
}

.testimonials-list{}

.testimonials-list li{
	background:url(../images/quote.png) 0 4px no-repeat;
	padding-left:20px;
	margin-top:25px;
}
.testimonials-list li .author{
	font-size:11px;
	text-align:right;
	padding-top:10px;
}
.testimonials-list li:first-child{margin-top:0;}


.gallery-list{margin-top:-20px;}
.gallery-list li{
	margin-top:20px;
}
.gallery-list li a[rel=prettyPhoto]{
	position:relative;
	display:inline-block;
}
.gallery-list li figure{
	margin-bottom:10px;
}
.gallery-list li a.photo-title{
	font-family:'Quicksand';
	line-height:1.2em;
	font-size:14px;
	color:#4e4439;
	text-decoration:none;
}
.gallery-list li a.photo-title:hover{
	color:#ff5400;
}
.extr{
	overflow:hidden;
}
.events-list{}
	.events-list li{
		font-size:12px;
		color:#6c5e4e;
		margin-top:26px;
		padding-top:28px;
		background:url(../images/spacer.gif) 0 0 repeat-x;
	}
	.events-list li:first-child{
		background:none;
		margin-top:0;
		padding-top:0;
	}
	.events-list li .date{
		float:left;
		width:43px;
		height:42px;
		background:#ff5400;
		color:#fff;
		line-height:1.2em;
		font-family:'Quicksand';
		font-size:18px;
		text-align:center;
		text-transform:uppercase;
		margin-right:12px;
		padding-top:2px;
		
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
	}
		.events-list li .date .mounth{
			display:block;
			margin-top:-4px;
			font-size:11px;
		}
	.events-list li .title{
		display:block;
		color:#2e2821;
		margin-bottom:18px;
		font-size:14px;
	}
	
.news-list{}
	.news-list li{
		font-size:12px;
		color:#6c5e4e;
		margin-top:26px;
		padding-top:28px;
		background:url(../images/spacer.gif) 0 0 repeat-x;
	}
	.news-list li:first-child{
		background:none;
		margin-top:0;
		padding-top:0;
	}
	.news-list li figure{
		float:left;
		margin-right:10px;
	}
	.news-list li .date{
		font-family:'Quicksand';
		font-size:14px;
		color:#2e2821;
		line-height:1.2em;
		display:block;
		margin-bottom:10px;
	}
	
	
.zoom{
	display:block;
	position:absolute;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position:center center;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:5;
}
.zoom.video-play{
	background-image:url(../images/video-play.png);
	
}
.gallery-hover{
	background:url(../images/slider-caption-bg.png) 0 0 repeat;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.shadow{
	width:100%;
	margin-bottom:37px;
}

footer{
	height:78px;
	color:#8b7c70;
	font-size:11px;
	padding:30px 0 0 0;
}
footer h4{
	display:inline;
}
/*Audio Player/*
===============*/
.jp-jplayer {
	overflow: hidden;
	background:none !important;
	height:0;
}
div.jp-audio {
    color: #8b7c70;
    height: 30px;
    margin: -15px 0 0;
    position: relative;
    width: 150px;
}
ul.jp-controls {
    display: block;
    height: 20px;
    margin: 0;
    padding: 15px 0 0;
}
a.jp-mute, a.jp-unmute, a.jp-volume-max {
    display: block;
    float: left;
    height: 10px;
    width: 12px;
}
a.jp-mute, a.jp-unmute {
    margin-left: 10px;
}
a.jp-volume-max {
    margin-left: 105px;
}
a.jp-mute {
    background: url(../images/minus.png) no-repeat scroll left center transparent;
}

a.jp-unmute {
    background: url(../images/close.png) no-repeat scroll left center transparent;
    display: none;
}

a.jp-volume-max {
    background: url(../images/plus.png) no-repeat scroll left center transparent;
}

div.jp-txt {
    cursor: default;
    font-size: 11px;
    position: absolute;
    right: 150px;
    top: 11px;
    white-space: nowrap;
}
div.jp-volume-bar {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #8e8173;
    cursor: pointer;
    height: 9px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    width: 87px;
}
div.jp-volume-bar-value {
    background: none repeat scroll 0 0 #ff5400;
    height: 9px;
    width: 0;
}
	
form#contact{position:relative;overflow:hidden;display:block;padding-top:15px;}
label{
	display:block;
	margin-bottom:12px;
	overflow:hidden;
}
form#contact span{
	color:#2e2821;
	display:block;
	padding-bottom:2px;
}


form#contact input[type="text"],
input[type="password"],
input[type="email"],
form#contact textarea,
select {
	
	border:#bdb4aa 1px solid;
	position:relative;
	background:#e5d9cd;
	width:97%;
	padding:4px 5px 5px 5px;
	color:#2e2821;
	box-shadow:0px 0px 3px #bdb4aa inset;
	font-size:12px;
	
}

.btn_send, input[type="reset"]{
	margin:0;
	display:block;
	cursor:pointer;
	float:left;
	margin-top:8px;
	margin-bottom:5px;
	font-size:14px;
	width:82px;
	padding:7px 0 7px 0;
	
}
input[type="reset"]{
	margin-right:18px;
}
form#contact textarea {
	min-height: 149px;
	width:97%;
}
.preloader{
	background:url(../images/preload_img.gif) center center no-repeat;
	display:block;
}